// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: 7da7d9;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #0c6d8a;
$color-gray:#ffffff;

$color-primary: #55c57a;
$color-border: #1d2a7f;
$color-header-background:#80c8bc;

$color-navbar-background:#ecd6cb;
$color-navbar-barnd-font:#a7445f;
$color-navbar-font:#d93f87;
$color-nav-shadow:#333;
$color-dark: #000000;
$color-sidebar-bg:#0f8db3;
$color-white:#ffffff;
$color-white-primary:d7d7d7;
$color-shadow:rgba(0,0,0,.01);
